body {
  font-family: "Fira Sans OT", "Calibri", "Gill Sans", sans-serif;
}

input[type="text"] {
  border: 1px solid gray;
  font: inherit;
  padding: 0 0.5em;
}

.cars {
  max-width: 30em;
}

.car-item:after {
  content: '';
  clear: both;
}

.car-item .controls {
  float: right;
}